    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <div class="container">
            
                <a class="navbar-brand" href="/">Anasayfa</a>
                <ul class="navbar-nav me-auto"> <!-- Sağdaki linkleri sağa itsin-->
                    <li class="nav-item">
                        <a class="nav-link" href="/blogs">Blog</a> 
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/admin/blogs">Admin Blogs</a> 
                    </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/admin/categories">Admin Categories</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/blog/create">Add Blogs</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/category/create">Add Categories</a> 
                    </li>
                </ul>
        </div>
    </nav>